[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = ">=2.0"
httpx = ">=0.24.0"
lxml = ">=4.9.0"
cryptography = ">=41.0.0"

[dev-packages]
importlib-metadata = ">=2.1.1"
atomicwrites = "*"
typing-extensions = "*"
pytest = ">=7.0"
pytest-cov = ">=4.0"
autopep8 = "*"
black = ">=24.0"
isort = ">=5.13"
mypy = ">=1.8"
pylint = ">=3.0"
pip-audit = ">=2.7"
pre-commit = ">=3.6"
build = ">=1.0"
setuptools = ">=68"
wheel = "*"
twine = "*"
