[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = ">=4.2.5"
requests = ">=2.21.0"
pycryptodome = ">=3.7.2"
pyOpenSSL = ">=18.0.0"

[dev-packages]
pytest = ">=4.6.11"
autopep8 = "*"
importlib_metadata = "*"
atomicwrites = "*"
